<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Quoting Dojo</title>
    <style>
        .container {
            margin-top: 15vh;
        }
    </style>
</head>

<body>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center active">
                Here are the awesome quotes!
            </li>
            <% for (quote of quotes ) {%>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                "
                <%= quote.quote %>"
                <span class="badge badge-primary badge-pill">-
                    <%= quote.name %> at
                    <%= moment(quote.created_at).format('h:mm:a MMMM DD YYYY') %></span>
            </li>
            <% } %>
        </ul>
        <br>
        <a href="/" class="btn btn-primary">Go Back</a>
    </div>
</body>

</html>