.container{
    padding-top: 25px;
}

span{
    font-size: 12px;
}

h6 {
    text-decoration: underline;
}
h5{
    color: white;
    margin-right: 40px;
}
.msg-box{
    width: 300px;
    /* background-color: grey; */
    margin: 0px 0px 40px 30px;
}
.msg-box p{
    margin: 0px;
}
.msg-box span{
    margin: 0px 50px 0px 30px;
}
.msg-send{
    margin: 0px 0px 40px 0px;
}

.msg-send p{
    width: 80px;
}
.msg-send p, .msg-send input, .msg-send form{
    display: inline-block;
    vertical-align: top;
}

.msg-send input{
    height: 40px;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 5px;
}